* {
  margin: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-size: 1.75em;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #464646;
}

h2 {
  font-size: 1.25em;
  text-align: center;
  margin-top: 5px;
  color: white;
}

.head {
  position: absolute;
  right: 0;
  top: 0;
  height: 22%;
  width: 175px;
  border: 1px solid rgb(160, 160, 160);
}

.one {
  background-color: rgb(158, 55, 55);
}

.two {
  background-color: rgb(98, 185, 98);
}

.three {
  background-color: rgb(186, 196, 49);
}

.row {
  width: 100%;
}

.content-box {
  border: 1px solid rgb(185, 185, 185);
  background-color: #f3f3f3;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: Helvetica;
  color: rgb(68, 68, 68);
  position: relative;

}

p {
  clear: right;
  margin-top: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  font-size: 1em;
}

/* LARGE SIZE SCREEN */
@media (min-width: 992px) {
  
  
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
 
}

/* MEDIUM SIZE SCREEN */
@media (min-width: 768px) and (max-width: 991px) {
  
  
  .col-md-6 {
    float: left;
    width: 50%;
  }
  .widen {
    width: 100%;
  }
  .special {
    width: 95%;
  }

  .align {
    width: 95%;
  }

}

